<div ng-cloak ng-switch="isAuthenticated()">
    <!-- Change style for class .well on MainPage -->
    <script>
        function widgetBg(){
            var widgetWrapper = document.getElementById('widget-wrapper');
            var mainPageWell = widgetWrapper.parentElement.parentElement;
            var mainPageWellClassName = mainPageWell.className;
            var classToChange = 'well';

            if(mainPageWellClassName.indexOf(classToChange) > -1){
                mainPageWell.style.background = "none";
            }
        }
        widgetBg();
    </script>

    <!-- Show this content for not logged users-->
    <div class="row" ng-switch-when="false" style="background:rgba(255,255,255,.9);">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Hello Football Player!!!!!!!</h1>
            <p class="lead" translate="main.subtitle">This is your homepage</p>
            <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
            </div>
        </div>
    </div>

    <div videoAnalyticWidgetDirective clas="widget"></div> //comment

    <div class="row widget-wrapper" ng-switch-when="true">

    <!-- Show mainPageWidgets for loggedIn users -->
    <div class="row widget-wrapper" id="widget-wrapper" ng-switch-when="true">
        <div class="col-md-6">
                <div class="widget">
                    <div ng-controller="ScheduleController">
                        <h2>Schedules <a ui-sref="schedule">All</a></h2>
                        <jh-alert></jh-alert>
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                                    <th jh-sort-by="id"><span translate="global.field.id">ID</span></th>
                                    <th jh-sort-by="opponent"><span translate="dniprolabApp.schedule.opponent">Opponent</span></th>
                                    <th jh-sort-by="date"><span translate="dniprolabApp.schedule.date">Date</span></th>
                                    <th jh-sort-by="type"><span translate="dniprolabApp.schedule.type">Type</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                                <tr ng-repeat="schedule in schedules track by schedule.id" ng-show="$index<5">
                                    <td><a ui-sref="schedule.detail({id:schedule.id})">{{schedule.id}}</a></td>
                                    <td>{{schedule.opponent}}</td>
                                    <td>{{schedule.date | date:'mediumDate'}}</td>
                                    <td translate="{{'dniprolabApp.MatchType.' + schedule.type}}">{{schedule.type}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    ui-sref="schedule.detail({id:schedule.id})"
                                                    class="btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
        </div>

        <div class="col-md-6">
                <div class="widget">
                    <div ng-controller="MessageController">
                        <h2>Messages <a ui-sref="message">All</a></h2>
                        <jh-alert></jh-alert>
                        <div class="table-responsive">
                            <table class="jh-table table table-striped">
                                <thead>
                                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                                    <th jh-sort-by="id"><span translate="global.field.id">ID</span></th>
                                    <th jh-sort-by="author"><span translate="dniprolabApp.message.author">Author</span></th>
                                    <th jh-sort-by="title"><span translate="dniprolabApp.message.title">Title</span></th>
                                    <th jh-sort-by="created"><span translate="dniprolabApp.message.created">Created</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                                <tr ng-repeat="message in messages track by message.id" ng-show="$index<5">
                                    <td><a ui-sref="message.detail({id:message.id})">{{message.id}}</a></td>
                                    <td>{{message.author}}</td>
                                    <td>{{message.title}}</td>
                                    <td>{{message.created | date:'medium'}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    ui-sref="message.detail({id:message.id})"
                                                    class="btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                             </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>


    </div>


</div>
