<div>
    <h2 translate="dniprolabApp.videoAnalytics.home.title">VideoAnalyticss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="videoAnalytics.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="dniprolabApp.videoAnalytics.home.createLabel">Create new VideoAnalytics
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'dniprolabApp.videoAnalytics.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="label"><span translate="dniprolabApp.videoAnalytics.label">Label</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span translate="dniprolabApp.videoAnalytics.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="dniprolabApp.videoAnalytics.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author"><span translate="dniprolabApp.videoAnalytics.author">Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="dniprolabApp.videoAnalytics.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="dniprolabApp.videoAnalytics.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="videoAnalytics in videoAnalyticss track by videoAnalytics.id">
                    <td><a ui-sref="videoAnalytics.detail({id:videoAnalytics.id})">{{videoAnalytics.id}}</a></td>
                    <td>{{videoAnalytics.label}}</td>
                    <td>{{videoAnalytics.reference}}</td>
                    <td>{{videoAnalytics.description}}</td>
                    <td>{{videoAnalytics.author}}</td>
                        <td>{{videoAnalytics.date | date:'mediumDate'}}</td>
                    <td>
                        {{videoAnalytics.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="videoAnalytics.detail({id:videoAnalytics.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="videoAnalytics.edit({id:videoAnalytics.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="videoAnalytics.delete({id:videoAnalytics.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
